/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/private/
/webapp/
.idea/

activator
activator-launch-1.2.10.jar
activator.bat
.classpath_nb
input.pmml.xml
LICENSE
output.pmml.xml
project/private.sbt
start.cmd