{
   "swagger":"2.0",
   "info":{
      "description":"This is a RESTful service for finding association rules by using the R-apriori library. Input is a PMML with information about database, antecedent, consequent and interest measures; output is another PMML with found association rules. Data are mined from a MySQL table.",
      "version":"1.0",
      "title":"EasyMiner-Apriori-R",
      "contact":{
         "name":"prozeman@gmail.com"
      }
   },
   "host":"{{{host}}}",
   "basePath":"/api/v1",
   "schemes":[
      "http"
   ],
   "paths":{
      "/mine":{
         "post":{
            "summary":"Create a mining task by some PMML definition",
            "description":"",
            "consumes":[
               "application/xml"
            ],
            "produces":[
               "application/xml"
            ],
            "parameters":[
               {
                  "in":"body",
                  "name":"body",
                  "description":"PMML definition",
                  "required":true
               }
            ],
            "responses":{
               "202":{
                  "description":"Task was accepted and is in progress.",
                  "headers":[
                     {
                        "type":"string",
                        "description":"Location: {address-with-result}"
                     }
                  ]
               },
               "500":{
                  "description":"Bad input data or the task was not created."
               }
            }
         }
      },
      "/result/{taskId}":{
         "get":{
            "summary":"Return some result of the mining task.",
            "produces":[
               "application/xml"
            ],
            "parameters":[
               {
                  "name":"taskId",
                  "in":"path",
                  "description":"ID task",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "202":{
                  "description":"Task is still in progress."
               },
               "200":{
                  "description":"Task has been finished. It returns the result PMML."
               },
               "404":{
                  "description":"Task is not exist or has been picked up."
               },
               "500":{
                  "description":"Some error during mining."
               }
            }
         }
      }
   }
}